@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #13fb41;
	--dark-color-b: hsl(120, 6%, 16%);
	--light-color: #000000;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}
*{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGTJOer0StQ1rT9nxVt_jUeylyCkCnQed1zfsYWL1Uw&s");
}
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-thumb {
    background-color: #5cb85c; /* Change this to your preferred color */
    border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #4cae4c; /* Change this to your preferred color on hover */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change this to your preferred background color */
}


::-webkit-scrollbar-thumb {
    background: #888; /* Change this to your preferred handle color */
}


::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change this to your preferred handle color on hover */
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	/* overflow-y:hidden; */
	/* border:2px solid purple; */
	
}
*::selection{
	color: white;
	background-color: black;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: url(../asset/about2.gif);
	margin: 20px;
	
	height: auto;
	font-weight: 800;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:larger;
}

.heading{
	font-style: futura;
	color:black;
	font-weight:900;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background:rgba(1, 1, 1, 1);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	height:50px;
	font-weight:800;
	border-radius: 99px;
	
}
.leave-btn{
	border-radius: 39px;
}
/* Chat Page */

.chat-container {
	max-width: 90vw;
	background: #fff;
	margin: 30px auto;
	overflow-y: hidden;
	min-height:90vh;
	width:100vw;
	/* background: url(../asset/about4.jpg); */
	background: url(../asset/about5.gif);
	border: 1px solid #fff;
	border-radius: 39px;
}

.chat-header {
	/* background: var(--dark-color-a); */
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.chat-main {
    display: flex;
    flex-direction: row;
	justify-content: space-evenly;
    height: 100%;
	border-top: 1px solid #fff;

}


.chat-messages {
    flex: 2; /* Takes 2 parts of the available space */
}

.chat-sidebar:last-child {
    flex: 1; /* Takes 1 part of the available space */
}


.chat-sidebar {
	flex: 1;
	/* background: var(--dark-color-b); */
	
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: hidden;
	width: 100%;
}

.chat-sidebar h2 {
	font-family: futura;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
	
}
.chat-sidebar img{
	overflow: hidden;
	object-fit: contain;
	
}

.chat-messages {
	padding: 30px;
	max-height: 2000px;
	overflow-y: hidden;
	font-family: futura;
	font-size: 3vh;
	border: 1px solid black;
	
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgba(211, 212, 211, 0.116);
	border-radius: 5px;
	
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	/* color: var(--dark-color-b); */
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: pink;
}



.chat-form-container {
	padding: 5px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 85%;
	
	
}

.chat-form-container form {
	display: flex;

}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 52px;
	flex: 1;
	/* background: url(../asset/about3.gif); */
	background-color: #000000;
	position: relative;
	object-fit: contain;
	color: rgb(255, 255, 255);
	font-family: futura;
	font-size: 3vh;
	margin-right: 4vh;
	border: 1px solid black;
	border-radius: 39px;
}
.footerdiv{
	font-size: 16px;
	padding: 5px;
	height: 60px;
	width: 80%;
	margin-bottom: 1vh;
	flex: 1;
	display: flex;
	align-items: flex-end;
	border: 1px solid rgba(0, 0, 0, 0.916);
	border-radius: 39px;
	justify-content: flex-end;
	background: url(../asset/about3.gif);
	position: fixed;
	object-fit: contain;
	color: rgb(255, 255, 255);
	font-family: futura;
	font-size: 3vh;
	bottom: 0;
}
.footerdiv input{
	margin-top: 1%;
	height: 100%;
	/* background: url(../asset/about3.gif); */
	border: none;
	color: rgb(255, 251, 251);
	font: futura;
}

/* Join Page */
.join-container {
	max-width: 1200px;
	width:80%;
	margin: 80px auto;
	color: #fff;
	background: url(../asset/about4.jpg);
	border: solid 1px black;
	border-radius: 39px;
}

.join-header {
	
	font-size: 7vh;
	text-align: center;
	padding: 20px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.heading {
    font-family: futura;
    color: white;
    font-size: 7vh;
    text-shadow: 1px 1px 1px black;
}

.join-main {
	padding: 30px 40px;
	
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	font-family: futura ;
	font-size: 3vh;
	display: block;
	margin-bottom: 5px;
}

.join-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border: 1px solid black;
	border-radius: 99px;
	font-family: futura;
	text-align: center;
	
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border: 1px solid black;
	border-radius: 99px;
	color: gray;
	text-align: center;
	font-family: futura;
	
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
    color: white;
    font-family: futura;
    font-size: 3vh;
    border-radius: 99px;
    transition: transform 0.1s ;
	text-shadow: 1px 1px 1px black; /* Adding a smooth transition for the zoom effect */
}

.join-main .btn:hover {
    margin-top: 20px;
    width: 100%;
    color: white;
    font-family: futura;
    font-size: 3vh;
    border-radius: 99px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.01); /* Zoom effect on hover */
}



@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.text{
	color:white;
}

.btn-chat{
	background-color:#000000;
	height:50px;
	padding-top:10px;
	padding-left:25px;
	width:150px;
	cursor:pointer;
}

input{
	height:30px;
	width:100%;

}

.btn-chat-send{
	height:52px;
	
	width:100px;

	color:white;

	background-color: #000000;
	border-radius: 39px;
}

.chat-form-container input{
	height:30px;
}
#cr{
	color: white;
}